@charset "utf-8";

.clear{
 clear:both;
}
ul{
 list-style-type:none;
 margin:0;
 padding:0;
}

ul#nav li{
 background-color:blue;
 float:left;
}

ul#nav li a{
 padding: 20px 135px;
 display:block;
 border-bottom: solid 1px #999;
 text-decoration:none;
 color:black;
}

ul#nav li a:hover{
 background-color:cyan;
}

ul#nav li ul li{
 float:none;
}

ul#nav li ul{
 position:absolute;
 display:none;
}

ul#nav li:hover ul{
 display:block;
}